<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DatabaseContext" connectionString="metadata=res://*/DbContext.Models.DatabaseContext.csdl|res://*/DbContext.Models.DatabaseContext.ssdl|res://*/DbContext.Models.DatabaseContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALECZANDRU\ALECZANDRU;initial catalog=CodeArt.Dev;integrated security=True;user id=aleczandru;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>